<md-toolbar>
  <div class="md-toolbar-tools">
    <span class="md-flex">Change Password</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="resetPasswordForm">
    <md-input-container>
      <label>Old Password</label>
      <input type="password" required name="oldPassword" ng-model="oldPassword" />
    </md-input-container>
    <md-input-container>
      <label>New Password</label>
      <input type="password" required name="newPassword" ng-model="newPassword" />
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="changePassword(oldPassword, newPassword)">Change Password</md-button>
  </form>
</md-content>
