<md-toolbar>
  <h2 class="md-toolbar-tools">
    <span>GSHE</span>
    <a href="/">Home</a>
    <a href="/stackrank">Stackrank</a>
    <a href="/admin">Admin</a>

    <span flex></span>

    <div ng-controller="UserController">
      <div ng-show="!isAuthenticated()">
        <md-button ng-href="/createAccount" class="md-accent">Sign Up</md-button>
        <md-button ng-href="/login">Sign In</md-button>
      </div>

      <div ng-show="isAuthenticated()">
        <md-button ng-href="/userProfile" class="md-accent">Profile</md-button>
        <md-button ng-click="logout()">Sign Out</md-button>
      </div>
    </div>
  </h2>
</md-toolbar>
