<md-toolbar>
  <div class="md-toolbar-tools">
    <span class="md-flex">Update Email Address</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="updateEmailForm">
    <md-input-container>
      <label>New Email Address</label>
      <input type="email" required name="newEmail" ng-model="newEmail" />
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" required name="password" ng-model="password" />
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="updateEmailAddress(newEmail, password)">Update Email</md-button>
  </form>
</md-content>
