<md-toolbar>
  <div class="md-toolbar-tools">
    <span class="md-flex">Update Password</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="resetPasswordForm">
    <md-input-container>
      <label>Old Password</label>
      <input type="password" required name="oldPassword" ng-model="user.oldPassword" />
      <div ng-messages="projectForm.oldPassword.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>New Password</label>
      <input type="password" required name="newPassword" ng-model="user.newPassword" />
      <div ng-messages="projectForm.newPassword.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="resetPassword()">Reset Password</md-button>
  </form>
</md-content>