<div ng-controller="ExperienceController">

  <div ng-hide="allExperiencesAnswered">
    <div ng-repeat="experience in experiences" ng-show="$index == experienceCounter">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span class="md-flex">Have you ever...</span>
        </div>
      </md-toolbar>
      <md-content class="md-padding" layout="column">
        {{ experience.display }}
        <md-button class="md-primary" ng-click="hadExperience(experience)">Yes</md-button>
        <md-button ng-click="nextExperience()">No</md-button>
      </md-content>
    </div>
  </div>

  <div ng-show="allExperiencesAnswered">
    <div ng-repeat="experiencePair in experiencePairs">
      {{ experiencePair.experience1.display }} ({{ experiencePair.experience1.rating }}) / {{ experiencePair.experience2.display }} ({{ experiencePair.experience2.rating }}): {{ experiencePair.winner }} 
    </div>

    <div layout="column">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span class="md-flex">Would you rather...</span>
        </div>
      </md-toolbar>
      <md-content layout="row" layout-sm="column" flex ng-repeat="experiencePair in experiencePairs" ng-show="$index == experiencePairCounter">
        <md-card flex="40" flex-sm ng-click="nextExperiencePair(experiencePair, 1)">
          {{ experiencePair.experience1.display }}
        </md-card>
        <div flex="20" flex-sm>
          Or
        </div>
        <md-card flex="40" flex-sm ng-click="nextExperiencePair(experiencePair, 0)">
          {{ experiencePair.experience2.display }}
        </md-card>
      </md-content>
    </div>
  </div>
</div>