<div layout-margin layout="column" ng-controller="UserController">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="md-flex">Reset Password</span>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <form name="resetPasswordForm">
      <md-input-container>
        <label>Email</label>
        <input type="email" required name="email" ng-model="email" />
        <div ng-messages="resetPasswordForm.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="resetPassword(email)">Send Reset Email</md-button>
    </form>
  </md-content>
</div>
