<div layout="row" layout-margin ng-controller="StackrankController">
  <div flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">Global Stackrank</span>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
      <div layout="row" layout-align="start center">
        <md-input-container>
          <label>Search</label>
          <input ng-model="searchString">
        </md-input-container>
      </div>

      <md-list>
        <md-item ng-repeat="experience in stackrank | orderBy: experience.rating | filter: { display: searchString }">
          <md-item-content>
            <div class="md-tile-left">
              Rank
            </div>
            <div class="md-tile-content">
              <h3>{{experience.display}}</h3>
              <h4>{{experience.rating}}</h4>
              <span ng-show="isAuthenticated()" ng-click="markAsExperienced(experience)">Mark as experienced</span>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>
  </div>
</div>