<div layout-margin layout="column" ng-controller="UserController">
  <h1>{{user.firstName}} {{user.lastName}}</h1>

  <div layout="row">
    <div ng-repeat="userExperience in userExperiences">
      {{userExperience}}
    </div>
  </div>

  <div layout="row" layout-margin>
    <div flex>
      <ng-include src="'views/partials/updateUserProfile.html'"></ng-include>
    </div>
    <div flex>
      <ng-include src="'views/partials/updateEmail.html'"></ng-include>
    </div>
    <div flex>
      <ng-include src="'views/partials/changePassword.html'"></ng-include>
    </div>
  </div>
  
</div>