<div ng-controller="AdminController">

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Display</th>
        <th>Rating</th>
        <th>Rating Deviation</th>
        <th>Volatility</th>
        <th>Archived</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="experience in experiences">
        <td>{{ experience.$id }}</td>
        <td>
          <md-input ng-model="experience.display" ng-change="saveExperience(experience)"></md-input>
        </td>
        <td>{{ experience.rating }}</td>
        <td>{{ experience.rd }}</td>
        <td>{{ experience.vol }}</td>
        <td>
          <md-checkbox ng-model="experience.archived" ng-change="saveExperience(experience)"></md-checkbox>
        </td>
        <td>{{ experience.createdAt | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
      </tr>
    </tbody>
  </table>

  <form class="form-inline" role="form" ng-submit="addExperience(experience)">
    <div class="form-group">
      <label class="sr-only" for="experience">Experience</label>
      <input type="text" class="form-control" placeholder="Experience" ng-model="experience" />
    </div>
    
    <input type="submit" class="btn btn-success" value="Add experience"/>
  </form>
</div>